*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: rgb(252,70,107);
background: radial-gradient(circle, rgba(252,70,107,1) 42%, rgba(252,70,107,1) 72%, rgba(198,63,251,1) 900%);
}